<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>元数据管理</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{css/font_eolqem241z66flxr.css}" media="all" />
    <link rel="stylesheet" th:href="@{css/schemas.css}" media="all" />
</head>
<body class="childrenBody">
<div class="dataTable">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="name" autocomplete="off"/>
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
    <button class="layui-btn" data-type="getCheckData">查看数据</button>
</div>
<table class="layui-hide" id="schema_list"></table>
<script type="text/javascript" th:src="@{layui/layui.js}"></script>
<script type="text/javascript" th:src="@{js/schema/list.js}"></script>
</body>
</html>